# >>>>>>>>>> BLACK LIST >>>>>>>>>>
/__pycache__/*
.DS_Store
/*.egg-info/
/*.egg-info/*
/cartooff/example.py
# <<<<<<<<<< BLACK LIST <<<<<<<<<<

# >>>>>>>>>> WHITE LIST >>>>>>>>>>

# <<<<<<<<<< WHITE LIST <<<<<<<<<<